.headertext {
    color: #00AEFF;
    font-weight: bold;
}

/* This is for Header Photos */
.fullphoto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 30%;
}


.textformat {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 18px;
}

.big-textformat {
  margin-top: 1%;
    margin-left: 1%;
    font-size: 25px;
    margin-right: 1%;
  
}

.verses {
  line-height: 35px;
  border: 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 1%;
  list-style-type: none;

}

.verses li {
  border: 1px solid;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: -25px;
}


/* FAQ Properties */

details {
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  details::marker {
    content: "\25B2"; /* arrow icon */
    font-size: 16px;
    color: #667;
  }
  
  
  
  details > div {
    display: block;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  summary {
    font-weight: bold;
    cursor: pointer;
  }
  
  summary:hover {
    background-color: #ffee00;
  }

  .bottomtext {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; 
    color: rgb(168, 168, 168);
    font-size: 13px;
  }

  .introtext {
    background-color: rgb(226, 226, 226);
    width: fit-content;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    color:rgb(94, 95, 95);
    padding-left: 10px;
    padding-right: 10px;
  }

  .mainverse {
    background-color: rgb(226, 226, 226);
    width: fit-content;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 20px;
    font-size: 17px;
    text-align: center;
    color:rgb(94, 95, 95);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .versesbox {
    background-color: rgb(226, 226, 226);
    width: 98%;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 17px;
    color:rgb(94, 95, 95);
    font-size: 30px;
    margin-left: 1%;
    padding-left: 10px;
  }

  .versebox-main {
    margin-left: 1%;
    font-size: 18px;
    text-decoration: none;
  }