body {
    background: #181A1B;
    font: 100% system-ui;
  }
  
  h1, li, p, details, h2, b {
    color: #ffffff;
  }
  
  body.dark-theme {
    background: #181A1B;
  }
  body.dark-theme h1,
  body.dark-theme p {
    color: #eee;
  }
  body.dark-theme a {
    color: #809fff;
  }

a {
  color: rgb(101, 168, 255);
}


  /* Nav bar */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #262A2B;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 5px;
  border: 1px solid #8C8273;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(255, 0, 0, 0.486);
  transition: 0.5s;
  letter-spacing: 4px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ff0000a2;
  color: white;
}

h3 {
  text-align: left;
  color: rgb(0, 183, 255);
  letter-spacing: 5px;
  margin-left: 20px;
  text-shadow: 0px 0px 20px;
}



