.button {
    border-radius: 20px;
    border: 0.1px solid;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
}

.button a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: rgb(172, 172, 172);
    cursor: pointer;
}