.bible {
    background-color: rgb(63, 61, 61);
    color: white;
    text-decoration: none;
    list-style: none;
    border-radius: 20px;
    width: fit-content;
    padding-left: 3%;
    padding-right: 6%;
    padding-bottom: 2%;
    padding-top: 0.6%;
}

.bible-t {
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.bible a {
    text-decoration: none;
    color: rgba(129, 228, 255, 0.783);
}