.sidebar {
    width: fit-content;
    background-color: gray;
    padding: 10px;
    text-align: left;
    height: 100%;
    position: absolute;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

 
  .nav-list button a {
    list-style-type: none;
    border-radius: 20px;
    list-style: none;
    font-style: none;
    color: rgb(0, 0, 0);
  }

  .nav-list button {
    border-radius: 20px;
    display: table;
    margin-top: 5px;
    
  }

  .nav-list a {
    text-decoration: none;
  }

  .nav-list button:hover {
    text-decoration: none;
    background-color: rgb(165, 162, 162);
    color: white;
   
  }

  @media (max-width: 500px) {
    .sidebar {
      width: fit-content;
      background-color: gray;
      padding: 5px;
      text-align: left;
      height: 100%;
      position: absolute;
    }

    .sidebar button {
      font-size: 10px;
    }

    .nav-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .nav-list button {
      border-radius: 20px;
      display: table;
      margin-top: 5px;
    }

    
  }


  @media (max-width: 380px) {
    .sidebar {
      width: fit-content;
      background-color: gray;
      padding: 5px;
      text-align: left;
      height: 512px;
      position: absolute;


    }

  }