
/* Main Page Properties */

/* Main properties for whole top nav */

.left-topnav {
    background-color: rgb(226, 226, 226);
    height: 50px;
    width: 15%;
    display: block;
    border-radius: 20px;
    position: fixed;
    margin-left: 3px;
}


/* CSS Properties for the "worship" text */ 

.maintext {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100%;
  color: rgb(216, 216, 76);
}

/* Give sthe structure of the navagation bar like background and etc. */

.navagation  {
    height: 100%;
    display: table;
    padding: 0px 20px;
    width: 100%;
    table-layout: fixed; 
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    height: 50px;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Actually Makes it a navagation cause without it its a bullet list like the li tag normally is */

.navagation li{
    display: table-cell;
    vertical-align: middle;
}

.navagation a {
    color: rgb(0, 174, 255);
    text-decoration: none;
}






/* CSS Properties for Bible Verse Page */

.right-topnav {
    background-color: rgb(226, 226, 226);
    height: 50px;
    width: 15%;
    display: block;
    border-radius: 20px;
    position: right;
    margin-left: 80%;
}

.backbutton {
  display: grid;
  align-items: center;
  text-align: center;
  height: 100%;
  color: rgb(36, 36, 33);
  font-size: 18px;
}

@media (max-width: 600px) {
    .maintext {
        display: grid;
        align-items: center;
        text-align: center;
        height: 100%;
        font-size: 15px;
        color: rgb(209, 209, 105);
      }

      .left-topnav {
        background-color: rgb(226, 226, 226);
        height: 30px;
        width: 15%;
        display: block;
        border-radius: 20px;
        position: fixed;
        margin-left: 3px;
    }

    .navagation  {
        height: 100%;
        display: table;
        padding: 0px 20px;
        width: 100%;
        table-layout: fixed; 
        background-color: rgb(226, 226, 226);
        border-radius: 20px;
        height: 30px;
        width: 40%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
    }
}

